<nav class="blue-grey darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="http://3months.lighthouseapp.com" target="_blank" class="white-text brand-logo">F*CK Lighthouse</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="white-text" href="http://3months.com">Opened Tickets</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a href="#">Opened Tickets</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="container">
  <div class='row'>
    {{ outlet }}
  </div>
</div>

<footer class="page-footer blue-grey">
  <div class="footer-copyright">
    <div class="container">
    Made <a class="orange-text text-lighten-3" href="https://github.com/andres3months/">out of boredom</a>
    <!-- http://materializecss.com/ is awesome. 'nuff said. -->
    </div>
  </div>
</footer>
